{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Warehouse</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Place</th>

						</tr>

						{% for i in warehouse %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.phone}}</td>
								<td>{{i.email}}</td>
								<td>{{i.place}}</td>

							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}